*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    align-items:stretch;
    background-color: #1f2937;
    padding: 10px 50px 50px 50px;
    /*padding-bottom: 50px;*/
}

.first-level-header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /*gap: 737px;*/
}

.first-level-header h1{
    font-size: 24px;
    color: #F9FAF8;
}

.header-link{
    margin-left: auto;
}

ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.second-level-header{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 50px;
}

.second-level-header .h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.second-level-header p{
    font-size: 18px;
    color: #e5e7eb;
}

.second-left{
    display: flex;
    flex-flow: column nowrap;
}

.second-right{
    display: flex;
    flex-flow: row nowrap;
    /*margin: auto;*/
    /*margin-left: auto;*/
}

.second-right-container{
    margin-left: auto;
}

.second-right img{
    object-fit: cover;
}

.btn button{
    margin: 0;
    padding: 5px 30px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: 5px solid #3882f6;
    background-color: #3882f6;
}

/*content css start*/

.content{
    display: flex;
    flex-flow: column nowrap;
    align-items: space-around;
    padding: 10px;
    background-color: rgb(245, 236, 236);
    margin: 0;
    padding: 0;
}

.content-header{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.first-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.img-container{
    display: flex;
}

.img-content{ 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 10px;
}

.img-content img{
    border-radius: 10px;
    border: 5px solid rgb(46, 146, 208);
}

.img-text{
    text-align: center;
}

.second-content{
    background-color: #e5e7eb;
    text-align: center;
}

.second-content p{
    font-size: 36px;
    font-style:italic;
    color: #1f2937;
}

.second-content #author-p{
    font-size: 20px;
}

.third-content{
    background-color: white;
    padding: 50px 50px;
    color: white;
}

.sign-up-btn{
    padding: 10px 110px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.first-sign-up-btn{
    display: flex;
    flex-flow: column nowrap;
    font-size: 18px;
}

.first-sign-up-btn h1{
    font-size: 36px;
    font-weight: bolder;
}

.second-sign-up-btn button{
    padding: 10px 50px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
}

footer{
    background-color:#1f2937;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
}